[Desktop Entry]
Name=PDF Reader
Name[zh_CN]=PDF阅读器
Comment=PDF Reader - A PDF and document reader
Comment[zh_CN]=PDF阅读器 - PDF及文档阅读应用
Exec=pdf_reader
Icon=${SNAP}/meta/gui/pdf_reader.png
Terminal=false
Type=Application
Categories=Office;Viewer;
